<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trend.lazyinject.demo" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".application.DemoApplication">
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.trend.lazyinject.lib.ipc.IPCService"
            android:process=":p1">

        </service>

        <provider
            android:authorities="com.trend.lazyinject.demo.p1"
            android:name="com.trend.lazyinject.lib.ipc.InjectIPCProvider"
            android:process="com.trend.lazyinject.demo.p1" />

    </application>

</manifest>